<%- include('../../partials/header.ejs') %>
<body>
  <%- include ('../../partials/navbar.ejs') %>
  <div class="container">
    <hr />
    <h2>Categorias</h2>
    <a class="btn btn-success" href="/admin/categories/new" >Criar nova categoria</a>

    <hr />
    <table class="table table-light">
      <thead>
        <tr>
          <td>ID:</td>
          <td>Titulo:</td>
          <td>Slug:</td>
          <td>Ações:</td>
        </tr>
      </thead>
      <tbody>
        <% categories.forEach(categoria => { %>
        <tr>
          <td><%= categoria.id %></td>
          <td><%= categoria.title %></td>
          <td><%= categoria.slug %></td>
          <td>
            <button class="btn-block btn-warning">Editar</button>

            <button class="btn-block btn-danger">Apagar</button>

          </td>
        </tr>
        <% }) %>
      </tbody>
    </table>
  </div>
</body>
<%- include('../../partials/footer.ejs') %>
