<%- include('../../partials/header.ejs') %>
<body>
  <%- include ('../../partials/navbar.ejs') %>
  <div class="container">
    <hr />
    <h2>Categorias</h2>
    <a class="btn btn-success" href="/admin/categories/new" >Criar nova categoria</a>

    <hr />
    <table class="table table-light">
      <thead>
        <tr>
          <td>ID:</td>
          <td>Titulo:</td>
          <td>Slug:</td>
          <td>Ações:</td>
        </tr>
      </thead>
      <tbody>
        <% categories.forEach(categoria => { %>
        <tr>
          <td><%= categoria.id %></td>
          <td><%= categoria.title %></td>
          <td><%= categoria.slug %></td>
          <td>
            <button class="btn-block btn-warning">Editar</button>

            <form method="POST" action="/categories/delete" style="display: inline" onsubmit="alertDelete(event,this)" >
              <input type="hidden" name="id" value="<%= categoria.id%>">
            <button class="btn-block btn-danger">Apagar</button>
            </form>

          </td>
        </tr>
        <% }) %>
      </tbody>
    </table>
  </div>
</body>
<%- include('../../partials/footer.ejs') %>
<script>
  function alertDelete(event,form) {
    event.preventDefault();
    var decision = confirm('Tem certeza que deseja deletar');
      if (decision){
        form.submit();
      }
  }
</script>